<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/styling.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Headlines</h1>
    <h4 class="article">
      <u>Article 1</u><br /><br /><%= article1 %>
    </h4>
    <!-- <h4><u>Article 2</u><br /><br /><%= article2 %></h4>
    <h4><u>Article 3</u><br /><br /><%= article3 %></h4>
    <h4><u>Article 4</u><br /><br /><%= article4 %></h4>
    <h4><u>Article 5</u><br /><br /><%= article5 %></h4> -->
  </body>
</html>
